html {
    font-family: cursive;
    background-color: #09533b;
    font-size: 16px;
    color: #f0f8ff;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  a {
    color: cyan;
  }
  a:hover {
    color: chocolate;
  }
  h1 {
    color: chartreuse;
  }
  h2 {
    color: yellow;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  iframe {
    max-width: 100%;
    aspect-ratio: 16 / 9;
  }
  #top {
    text-align: center;
    background-color: turquoise;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  .grayscale {
    filter: grayscale(1);
  }
  
  .rotate-90 {
    transform: rotate(90deg);
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .bg-khaki {
    background-color: khaki;
  }
  
  .bg-pink {
    background-color: pink;
  }
  
  .bg-white {
    background-color: white;
  }
  body {
    margin: auto;
    width: 1040px; 
    padding: 55px;
  }
  
  .my-custom-table {
    border-collapse: collapse; /* Elimina el espaciado entre celdas */
}

.my-custom-table th,
.my-custom-table td {
    border: 1px solid #ffff; /* Agrega un borde a las celdas, ajusta el color y el grosor según tus preferencias */
    padding: 8px; /* Añade relleno alrededor del contenido de las celdas */
}

.my-custom-table th {
    background-color: #f0f0f0; /* Cambia el color de fondo de las celdas de encabezado */
    font-weight: bold; /* Aplica negrita al texto en las celdas de encabezado */
}
