html {
    font-family: cursive;
    background-color: #09533b;
    font-size: 16px;
    color: #f0f8ff;
    scroll-behavior: smooth;
  }
  a {
    color: cyan;
  }
  a:hover {
    color: chocolate;
  }
  h1 {
    color: chartreuse;
  }
  h2 {
    color: yellow;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
  td,
  th {
    border: 1px solid white;
  }
  iframe {
    max-width: 100%;
    aspect-ratio: 16 / 9;
  }
  #top {
    text-align: center;
    background-color: turquoise;
    border-radius: 1rem;
    padding: 0.5rem;
  }
  .grayscale {
    filter: grayscale(1);
  }
  
  .rotate-90 {
    transform: rotate(90deg);
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  
  .bg-khaki {
    background-color: khaki;
  }
  
  .bg-pink {
    background-color: pink;
  }
  
  .bg-white {
    background-color: white;
  }
  body {
    margin: auto;
    width: 1040px; 
    padding: 55px;
  }
  